/***************************************** RESPONSIVO *************************************************/

@media(max-width: 600px ){
    body{
        margin: 0;
        padding: 0;
	background-color:white;
    }
    /************************principal**********************************/
    .wrapper{
        width: 100%;
        height: auto;
        justify-content: center;
        margin: 0;
        padding: 0;
    } 

    /****************************** MEnu ******************************/
    .logo{
    text-decoration: none;
    font-family: 'Cooper Black',Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.5em;
    }
    .boxTopo2{
        background-color:#024a62;
        width: 100%;
        height: 35px;
    }
    .boxTopo{
        background-color:#024a62;
        width: 100%;
        height: 50px;
        justify-content: center;
        font-family: 'Bahnschrift', Helvetica, sans-serif;
    }
    .menu li a{
        width: 100%;
        padding: 15px;
        justify-content: center;
        font-size: 1em;
        padding-right: 0px;
    }
    .texto{
        width: 100%;
        height:35px;
        text-align: center;
        color: #0e749e;
        font-family: 'Bahnschrift', Helvetica, sans-serif;
        font-size: 1.2em;
    }

    /************************* TRATAMENTOS *******************************/
    .tratamento{
        flex-wrap: wrap;

    }
    .imgTratamento{
        margin-top: 2%;
        width: 25%;
        height: auto;


    }
    .boxTratamento{
        
        background-color:#024a62;
        width: 42%;
        height: auto;
        border-radius: 10%;
        color: white;
        font-family: 'Bahnschrift', Helvetica, sans-serif;
    }

/****************************** Harmonizar *********************************/
    .textHarmo{
        width: 100%;
        height:35px;
        text-align: center;
        color: #0e749e;
        font-family: 'Bahnschrift', Helvetica, sans-serif;
        font-size: 1.2em;
    }    
    .boxHarmonizar{
        flex-wrap: wrap;
        width: 100%;
        margin: 0;
        padding: 0;

    }
    .textoHarmo{

        width: 80%;
        flex-wrap: wrap;
        color: #0e739d;
        font-family: 'Bahnschrift', Helvetica, sans-serif;
        text-align: center;
        margin: 0;
        padding: 0;


    }
    .imgHarmo{
        width: 90%;
        height: auto;

    }

    /**************************** SOCIAIS **********************************/
    .sociais{
        justify-content: space-between;
        flex-direction: column;
        padding-top: 2%;
    }
    .boxSociais1, .boxSociais2{
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;

    }
    .imgClinic{
        width: 18%;
        height: auto;
        margin: 0;
        padding: 0;


    }
    .imgClinica{
        width: 50%;

    }
    .textoClinic{
        width: 80%;
        height: auto;

        margin: 0;
        padding: 0;
    }
    .boxSociais3{
        width: 90%;
        height: auto;
        padding-top: 6%;

    }
    .conecte1{
        font-size: 1.2em;

    }
    .imgClinic{
        width: 16%;
        margin-top: 4%;
        padding: 0;

    }
    .textoClinic{
        width: 80%;
        height: auto;
        display: flex;
        align-items: center;
        margin-top: 4%;
        padding: 0;

    }
    .texto1{
        text-decoration: none;
        color: white;
        font-size: 1em;

    }
}

/******************************* FORMATO DO TEXTO HARMONIZAÇÃO /*********************/

@media(max-width:1000px) {
    .textoHarmo{
        font-size: 0.9em;
        flex-wrap: wrap;
        font-family: 'Bahnschrift', Helvetica, sans-serif;
        text-align: center;
        margin-left: 2%;
    }

}
@media(max-width:800px) {
    .textoHarmo{
        font-size: 0.9em;
        flex-wrap: wrap;
        font-family: 'Bahnschrift', Helvetica, sans-serif;
        text-align: center;
        margin-left: 2%;
    }
}

/****** Menu zoom maximo *****/

@media(max-width:350px) {
    nav ul li {
    font-size: 10px;
    
}
nav ul li a:hover{ 
	color: #fffcfc;
	border-bottom: #09d0e6 4px solid;
    margin-bottom: 0px;
}
nav ul li a{
	text-decoration: none; 
	color: #ffffff;
	padding-bottom: 1px;
    
 
}
}


